<footer class="blue darken-4">
    <div class="footer-copyright">
        <div class="container">
            <a class="center" href="https://www.freecodecamp.org/news/"><img
                    src="https://cdn-media-1.freecodecamp.org/ghost/2018/12/FCC-logo-white.png"
                    style="max-height: 1.5rem" alt="" srcset=""></a>
            <a class="grey-text text-lighten-4 right" href=""></a>
        </div>
    </div>
</footer>