<nav id="nav-bar" class="blue darken-4" role="navigation" style="">
  <div class="nav-wrapper container">
    <div class="row">
      <a id="logo-container" href="./index.html" class="brand-logo center">Free Code News Scraper</a>
      <ul class="right hide-on-med-and-down" id="nav-mobile">
        <li><a href="/scrape">Update Articles</a></li>
        <li><a href="/clearall">Delete Articles</a></li>
      </ul>
    </div>
  </div>
  {{!-- <ul class="right hide-on-med-and-down">
    <li><a href="./scrape">About</a></li>
    <li><a href="./clearall">Portfilio</a></li>
  </ul> --}}

  <ul id="nav-mobile" class="sidenav">
    <li><a href="./scrape">Update Artiicles</a></li>
    <li><a href="./clearall">Delete Atricles</a></li>
  </ul>
  <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>